* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.head-title {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  color: #190f31d8;
  letter-spacing: 2px;
  font-weight: 600;
}
.text-title {
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  color: #190f319f;
}
.author-title {
  text-align: center;
  color: #f54e46;
  margin-top: -15px;
  font-size: 15px;
  letter-spacing: 1px;
}
.search-field {
  margin-left: 450px;
}
.search-item {
  width: 370px;
  height: 50px;
  border: 3px solid #f54e46;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-left: 10px;
  letter-spacing: 2px;
  color: #f54e46;
  font-weight: 500;
}
.search-btn {
  font-size: 23px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: #f54e46;
  border: none;
  margin-left: -5px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
  color: #fff;
  transition: .4s linear;
}
.search-btn:hover{
  background: orange;
}

.details-btn {
  font-size: 18px;
  padding: 5px 40px;
  border-radius: 30px;
  background-color: #f54e46;
  color: #ffff;
  letter-spacing: 1px;
  border: 2px solid #f54e46;
  transition: 0.5s linear;
  text-decoration: none;
}
.details-btn:hover {
  background-color: transparent;
  color: #f54e46;
}
.card {
  box-shadow: 3px 3px 3px rgba(83, 83, 83, 0.034),
    3px 3px 3px rgba(83, 83, 83, 0.034), 3px -3px 15px rgba(0, 0, 0, 0.2),
    -3px -3px 15px rgba(0, 0, 0, 0.2);
  width: 97%;
  border-radius: 10px;
}
.card-img {
  width: 70%;
  margin: 0 auto;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.card-title {
  font-size: 20px;
  color: #190f31b9;
  font-weight: 600;
  letter-spacing: 1px;
}
.card-text {
  font-size: 18px;
  color: #f54e46;
  letter-spacing: 1px;
}
/*------------------
    details style 
-------------------- */
.extraDesign{
  width: 45%;
  margin-top: 100px;
}

/*-------------------------
    Error Message style 
-------------------------- */
.error-messege{
  font-size: 45px;
  color: red;
  text-align: center;
}
@media only screen and (max-width:688px) {
  .search-field {
    margin-left: 0;
  }
  .search-item {
    width: 80%;
  }
  .extraDesign{
    width: 70%;
  }
}